.header {
  background-color: #EEE9DA;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  color: #333;
}

.content {
  padding: 20px;
  text-align: center;
  background-color: #BDCDD6;
  min-height: 100vh;
}

.content__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.content__tabs__tab {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
